
<%= form_for(:session, url: login_path) do |f| %>
<div class ="login-container">
	<div class="container">
		<div class="wrapper">
			<span id = "email"><%= f.email_field :email, placeholder: "Enter Email" %></span>
			<span id = "password"><%= f.password_field :password %></span>
		</div>
		<div class="wrap">
			<p id ="login"><%= f.submit "Log in" %></p>
			<small><a id = "register" href="#">No Account Yet? Register Here</a></small>
		</div>
	</div>
</div>
<% end %>








