<div class="navbar-container">

  <div class="nav-title">
    <h1>2iDIOTS</h1>
  </div>

  <div class="nav-menu">
    <ul>
      <li><input type="text" placeholder ="Search"></li>
      <li>Login</li>
      <li>Sign up</li>
    </ul>
  </div>
  
</div>

<%= link_to 'Posts', articles_path %>









