<div class ="wrapper">
  <div class = "container">
    <header class = "navbar">
        <h2>
        2iDIOTS
        <%= link_to 'Article', articles_path %> | <%= link_to 'About', about_path %>
        <input type ="text" id = "search"><button>Search</button>
        </h2>
    </div>

    <div class = "content">
    </div>
  </div>
</div>