body{
  background: #dff9fb;
  margin: 0%;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

.container{
  display: flex;
}

.navbar{
  background: #2f3640;
  height: 100px;
  width: 100%;
}